Source: ros-kinetic-robot-systemd
Section: misc
Priority: optional
Maintainer: HXR <code@hxr.io>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-robot-systemd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-roslaunch
Conflicts: ros-kinetic-ros-melodic-robot-systemd
Description: Systemd Robot Initialization
